body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}


.container {
    text-align: center;
    max-width: 600px;
    width: 90%;
}

input {
    padding: 8px;
    width: 70%;
    box-sizing: border-box;
}

button {
    padding: 8px;
    margin-left: 5px;
    width: 25%;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    margin: 5px;
}

.task-text {
    flex: 1;
}

.task-complete {
    margin-left: auto;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    color: #888;
}

@media (max-width: 600px) {
    input, button {
        width: 100%;
    }
}
@media (max-width: 600px) {
    /* Styles spécifiques pour les écrans de 600 pixels de large ou moins */
    body {
        font-size: 14px;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    /* Styles spécifiques pour les écrans entre 601 et 900 pixels de large */
    body {
        font-size: 16px;
    }
}

h1{
    border: 2px solid black;
    height: 40px;
    width: 400px;
    background-color: rgb(231, 170, 228);
    padding:  20px;
    border-radius: 40px;
}
@media (max-width: 600px) and (max-width: 900px) {
    /* Styles spécifiques pour les écrans de 600 pixels de large ou moins */
    h1 {
        font-size: 14px;
    }
}
div{
   
    width: 400px;
    background-color: rgb(226, 43, 134);
    padding:  20px;
    border-radius: 40px; 
}